{#
 This is a template "page" for developing the form page.
 Try with the url path `/page/DonationForm.html.twig` (yes, with that suffix)

 TODO when the Javascript works, move this form to the wiki and remove the comments around the html tags
#}
<!-- <html> -->

<div id="validation-errors" class="errorbox" style="display:none">
    <strong>Bei der Prüfung Ihrer Eingaben wurden Probleme bemerkt</strong>.
    Bitte überprüfen Sie Ihre Angaben in folgenden Feldern: <strong class="fields">keine</strong>
</div>

{# TODO Remove this debugging code! #}
{% if violatedFields %}
    <script>
        console.log("Server-side validation errors:", {$ violatedFields|json_encode|raw $} );
    </script>
{% endif %}

<div id="paymentPage">
    {% include 'Form1.html.twig' %}
</div>

<div id="personalDataPage">
    {% include 'Form2.html.twig' %}
</div>

<div id="bankConfirmationPage">
    {% include 'Form3.html.twig' %}
</div>

<script>

    // The following line is a Twig template placeholder to generate initial values (defaults to empty object)
    var initialFormValues = {% if initialFormValues %}{$ initialFormValues|json_encode|raw $}{% else %}{}{% endif %};

    // TODO add initial validation status to show validation errors when coming from the server

    // Initialize the form
    $( function () {
        var store = WMDE.Store,
            actions = WMDE.Actions;

        WMDE.StoreUpdates.connectComponentsToStore(
            [
                WMDE.Components.createAmountComponent( store, $( '.amount-input' ), $( '.amount-select' ) ),
                WMDE.Components.createRadioComponent( store, $( '.payment-type-select' ), 'paymentType' ),
                WMDE.Components.createRadioComponent( store, $( '.interval-type-select' ), 'paymentPeriodInMonths' ),
                WMDE.Components.createRadioComponent( store, $( '.payment-period-select' ), 'paymentPeriodInMonths' ),
                WMDE.Components.createBankDataComponent( store, {
                    ibanElement: $( '#iban' ),
                    bicElement: $( '#bic' ),
                    accountNumberElement: $( '#account-number' ),
                    bankCodeElement: $( '#bank-code' ),
                    bankNameFieldElement: $( '#field-bank-name' ),
                    bankNameDisplayElement: $( '#bank-name' ),
                    debitTypeElement: $( '.debit-type-select' )
                } ),
                WMDE.Components.createRadioComponent( store, $( '.address-type-select' ), 'addressType' ),
                WMDE.Components.createRadioComponent( store, $( '.salutation' ), 'salutation' ),
                WMDE.Components.createRadioComponent( store, $( '.personal-title' ), 'title' ),
                WMDE.Components.createTextComponent( store, $( '#first-name' ), 'firstName' ),
                WMDE.Components.createTextComponent( store, $( '#last-name' ), 'lastName' ),
                WMDE.Components.createTextComponent( store, $( '#company-name' ), 'companyName' ),
                WMDE.Components.createTextComponent( store, $( '#street' ), 'street' ),
                WMDE.Components.createTextComponent( store, $( '#post-code' ), 'postcode' ),
                WMDE.Components.createTextComponent( store, $( '#city' ), 'city' ),
                WMDE.Components.createRadioComponent( store, $( '#country' ), 'country' ),
                WMDE.Components.createTextComponent( store, $( '#email' ), 'email' )
            ],
            store,
            'donationFormContent'    
        );

        WMDE.StoreUpdates.connectValidatorsToStore(
            function ( initialValues ) {
                return [
                    WMDE.ReduxValidation.createValidationDispatcher(
                            WMDE.FormValidation.createAmountValidator( '{$ basepath $}/validate-amount' ),
                            actions.newFinishAmountValidationAction,
                            [ 'amount', 'paymentType' ],
                            initialValues
                    ),
                    WMDE.ReduxValidation.createValidationDispatcher(
                            WMDE.FormValidation.createAddressValidator( '{$ basepath $}/validate-address' ),
                            actions.newFinishAddressValidationAction,
                            [ 'salutation', 'title', 'firstName', 'lastName', 'companyName', 'street', 'postcode', 'city', 'country', 'email' ],
                            initialValues
                    ),
                    WMDE.ReduxValidation.createValidationDispatcher(
                            WMDE.FormValidation.createBankDataValidator( '{$ basepath $}/check-iban', '{$ basepath $}/generate-iban' ),
                            actions.newFinishBankDataValidationAction,
                            [ 'iban', 'accountNumber', 'bankCode', 'debitType', 'paymentType' ],
                            initialValues
                    )
                ];
            },
            store,
            initialFormValues,
            'donationFormContent'
        );

        // Connect view handlers to changes in specific parts in the global state, designated by 'stateKey'
        WMDE.StoreUpdates.connectViewHandlersToStore(
                [
                    {
                        viewHandler: WMDE.View.createFormPageVisibilityHandler( {
                            payment: $( "#paymentPage" ),
                            personalData: $( "#personalDataPage" ),
                            bankConfirmation: $( '#bankConfirmationPage' )
                        } ),
                        stateKey: 'formPagination'
                    },
                    {
                        viewHandler: WMDE.View.createErrorBoxHandler( $( '#validation-errors' ), {
                            amount: 'Betrag',
                            salutation: 'Anrede',
                            title: 'Titel',
                            firstName: 'Vorname',
                            lastName: 'Nachname',
                            company: 'Firma',
                            street: 'Straße',
                            postcode: 'PLZ',
                            city: 'Ort',
                            country: 'DE',
                            email: 'E-Mail'
                        } ),
                        stateKey: 'validationMessages'
                    },
                    {
                        viewHandler: WMDE.View.createSlidingVisibilitySwitcher( $( '.periode-2-list' ), /^(1|3|6|12)$/ ),
                        stateKey: 'donationFormContent.paymentPeriodInMonths'
                    },
                    {
                        viewHandler: WMDE.View.createSlidingVisibilitySwitcher( $( '#bank-data' ), 'BEZ' ),
                        stateKey: 'donationFormContent.paymentType'
                    },
                    {
                        viewHandler: WMDE.View.createSimpleVisibilitySwitcher( $( '#finishFormSubmit2' ), /^MCP|PPL|UEB/ ),
                        stateKey: 'donationFormContent.paymentType'
                    },
                    {
                        viewHandler: WMDE.View.createSimpleVisibilitySwitcher( $( '#continueFormSubmit2' ), 'BEZ' ),
                        stateKey: 'donationFormContent.paymentType'
                    },
                    {
                        viewHandler: WMDE.View.createSlidingVisibilitySwitcher( $( '.slide-sepa' ), 'sepa' ),
                        stateKey: 'donationFormContent.debitType'
                    },
                    {
                        viewHandler: WMDE.View.createSlidingVisibilitySwitcher( $( '.slide-non-sepa' ), 'non-sepa' ),
                        stateKey: 'donationFormContent.debitType'
                    },
                    // Show only the right data fields for personal data
                    {
                        viewHandler: WMDE.View.createSlidingVisibilitySwitcher( $( '.personal-data-person' ), 'person' ),
                        stateKey: 'donationFormContent.addressType'
                    },
                    {
                        viewHandler: WMDE.View.createSlidingVisibilitySwitcher( $( '.personal-data-company' ), 'firma' ),
                        stateKey: 'donationFormContent.addressType'
                    },
                    {
                        viewHandler: WMDE.View.createSlidingVisibilitySwitcher( $( '.personal-data-full' ), /firma|person/ ),
                        stateKey: 'donationFormContent.addressType'
                    },
                    {
                        viewHandler: WMDE.View.createDisplayAddressHandler( {
                            fullName: $( '.confirm-name' ),
                            street: $( '.confirm-street' ),
                            postcode: $( '.confirm-postcode' ),
                            city: $( '.confirm-city' ),
                            country: $( '.confirm-country' ),
                            email: $( '.confirm-email' )
                        } ),
                        stateKey: 'donationFormContent'
                    },
                    {
                        viewHandler: WMDE.View.createBankDataDisplayHandler(
                            $( '.confirm-iban' ),
                            $( '.confirm-bic' ),
                            $( '.confirm-bank-name' )
                        ),
                        stateKey: 'donationFormContent'
                    }
                ],
                store
        );

        // connect DOM elements to actions

        $( '#continueFormSubmit1,#continueFormSubmit2' ).click( function () {
            // TODO check if page is valid
            store.dispatch( actions.newNextPageAction() );
        } );

        $( '#finishFormSubmit2,#finishFormSubmit3' ).click( function () {
            // TODO check if page is valid
            $( '#donForm2' ).submit();
        } );

        // Initialize form pages
        store.dispatch( actions.newAddPageAction( 'payment' ) );
        store.dispatch( actions.newAddPageAction( 'personalData' ) );
        store.dispatch( actions.newAddPageAction( 'bankConfirmation' ) );

        // Set initial form values
        store.dispatch( actions.newInitializeContentAction( initialFormValues ) );

        // TODO switch to correct page, depending on validation status coming from the server

    } );
</script>

<!-- TODO
<div class="wlightbox-contents">
    <div id="wlightbox-wohin-geht-das-geld">
</html>{{Web:Spendenseite-HK2013/rewrite/10h16_Lightbox_Wohin_geht_das_Geld}}<html>
</div>
<div id="wlightbox-steuerlich-absetzbar">
</html>{{Web:Spendenseite-HK2013/rewrite/10h16_Lightbox_Steuer}}<html>
</div>
<div id="wlightbox-bitcoin">
</html>{{Web:Spendenseite-HK2013/rewrite/10h16_Lightbox_BitCoin}}<html>
</div>
<div id="wlightbox-spendenkommentare"></html>{{Web:Spendenseite-HK2013/rewrite/10h16_Lightbox_Spendenkommentare}}<html></div>

</div>
</html>{{Web:Spendenseite-HK2013/rewrite/Bank Detail Banner}}<html>
</html>
-->
